*{
  margin: 0;
  padding: 0;
}
.Cabeçalho{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.Cabeçalho-imagem{
    width: 10%;
}
.Cabeçalho-item{
    display: inline-block;
    margin: 0 16%;
    font-size: 18px
}